<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Colorlib">
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <!-- Page Title -->
    <title>Wanderlust</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstarp.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
    <link rel="stylesheet" href="/stylesheets/simple-line-icons.css">
    <!-- Themify Icon -->
    <link rel="stylesheet" href="/stylesheets/themify-icons.css">
    <!-- Hover Effects -->
    <link rel="stylesheet" href="/stylesheets/set1.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">

     <script src="/socket.io/socket.io.js"></script>
    
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Magnific popup JS -->
    <script src="/js/jquery.magnific-popup.js"></script>
    <!-- Swipper Slider JS -->
    <script src="/js/swiper.min.js"></script>
</head>
	<body>
		{{{ body }}}
	</body>
</html>
